<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="put a description here please">
    <link rel="stylesheet" href="style.css">
    <title>testests</title>
    <link rel="canonical" href="https://galardica.com/template/">
    <!--Cracky es catarsis https://cracky-chan.com/-->
  </head>
  <body>
    <div class="form-container">
      <form action="https://formspree.io/f/xleqdyvd" method="POST">
        <textarea class="tisti3" name="message" placeholder="Message" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)"></textarea>
        <input type="text" class="tisti1" name="name" placeholder="Name" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)">
        <input type="text" class="tisti2" name="phone" placeholder="Phone number" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)">
        <button type="submit" class="submit-btn">Send</button>
      </form>
    </div>
  </body>
</html>
