body { background-color: #0C0C0C; color: #CCCCCC; margin-left: max(auto,5px); margin-right: max(auto,5px); max-width: 1000px; margin-top: 50px; margin-bottom: 50px; text-align: justify; padding: 10px; border: 3px; border-style: groove; }

h1 { margin: 0 }
